# Sample infrapy config file for beamforming (fk) and detection (fd) analysis 
#
# Example uses:
# infrapy run_fk --config-file config/detection_local.config --cpu-cnt 10
# infrapy run_fkd --config-file config/detection_local.config --cpu-cnt 10
#
# infrapy plot_fk --config-file config/detection_local.config
# infrapy plot_fd --config-file config/detection_local.config


[WAVEFORM IO]
local_wvfrms = KAUT/*.SAC
local_latlon = KAUT/KAUT.npy

[DETECTION IO]
local_fk_label = KAUT/results
local_detect_label = KAUT/results

[FK]
freq_min = 1
freq_max = 10

[FD]
p_value = 0.05
min_duration = 20.0




