# Sample infrapy config file for beamforming (fk) and detection (fd) analysis 
#
# Example uses:
# infrapy run_fk --config-file config/detection_local.config --cpu-cnt 10
# infrapy run_fkd --config-file config/detection_local.config --cpu-cnt 10
#
# infrapy plot_fk --config-file config/detection_local.config
# infrapy plot_fd --config-file config/detection_local.config


[WAVEFORM IO]
local_wvfrms = RAINIER-EVENT-A/*.SAC
local_latlon = RAINIER-EVENT-A/RAINIER-EVENT-A.npy

[DETECTION IO]
local_fk_label = RAINIER-EVENT-A/results
local_detect_label = RAINIER-EVENT-A/*

[FK]
method=GLS
freq_min = 1
freq_max = 10
window_len = 10.0
window_step = 2.0

[FD]
p_value = 0.05
min_duration = 20.0




